name: Daily AI News Summarizer

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run_summarizer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: python news.py

      - name: Commit and push changes
        run: |
            git config --global user.name "MarkBenWagner"
            git config --global user.email "wagnermarkbenjamin@gmail.com"

            git add archive/

            git diff --staged --quiet || (git commit -m "$(date -u +"%Y-%m-%d") - AI news summary" && git push)
